@{
    ViewData["Title"] = "Brillen";
}

<div class="container">
    <section id="intro">
        <h2>Brillen</h2>
        <section id="glasses"></section>
        <p>Op zoek naar een bril?</p>
        <p>Bij Optistyle helpen we u graag bij het vinden van een passende bril. De vorm van uw gezicht beïnvloedt in hoge mate welke bril goed bij u past. Ons advies is daarom om eerst na te gaan welke vorm uw gezicht heeft. Onderstaande afbeelding kan u daarbij helpen.</p>
        <img src="image/faces.png" alt="Verschillende vormen van een gezicht" class="responsiveImage">
    </section>
    <section id="reeban">
        <h2>Reeban</h2>
        <p>Eén van de topmerken waar Optistyle mee werkt is Reeban. Dit merk staat bekend om haar de moderne look en diversiteit aan pasvormen.</p>
    </section>
    <section id="huguh">
        <h2>Huguh</h2>
        <p>Huguh is een bril van goede kwaliteit voor een betaalbare prijs.</p>
    </section>
    <section id="empori">
        <h2>Empori Harmani</h2>
        <p>Empori Harmani is een topmerk met zeer stijlvolle brillen. Er is veel aandacht voor draagcomfort en styling.</p>
    </section>
</div>