@{
    ViewData["Title"] = "Oefenformulier";
}

<div class="container">
    <section>
        <h2>Oefenformulier</h2>
        <p>Op deze pagina vind je een sandbox waar je kunt oefenen met het maken van formulieren.</p>
        <form method="post">
            <div class="form-group">
                <label for="Name">Naam</label>
                <input type="text" name="Name" />

                <label for="Email">E-mail</label>
                <input type="email" name="Email" />

                <label for="TelNr">Tel</label>
                <input type="tel" name="TelNr" />
            </div>

            <button>Verstuur</button>
        </form>
    </section>
</div>
